.App {
  text-align: center;
}

.task-list-wrapper::-webkit-scrollbar {
  border-radius: 10px;
  width: 4px;
  background-color: white;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.task-list-wrapper::-webkit-scrollbar-track {
  /* border-radius: 10px; */
  /* background-color: black; */
}

.task-list-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}
